---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
ci:
  autoupdate_schedule: monthly
  skip:
    - dprint-fmt
    - ansible-lint

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 3e8a8703264a2f4a69428a0aa4dcb512790b2c8c # frozen: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: https://github.com/ansible/ansible-lint
    rev: 7f6abc5ef97d0fb043a0f3d416dfbc74399fbda0  # frozen: v26.1.1
    hooks:
      - id: ansible-lint
        entry: ansible-lint -v --force-color --fix
        additional_dependencies: [ansible]
  - repo: local
    hooks:
      - id: dprint-fmt
        name: dprint
        entry: /home/thibaut/.dprint/bin/dprint fmt --config dprint.json --allow-no-files
        language: system
        require_serial: true
        types: [text]
